<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkedIn Data Extractor</title>
</head>
<body>
    <h1>LinkedIn Data Extractor</h1>
    <form action="/upload_csv" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    <button onclick="location.href='/main?upload=new'">Create new</button>
    
    
</body>
</html>